<%- include('blocks/header', {bot, user, path}) %>
  <div class="container">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-10"><h3>Your profile</h3>
          </div>
        </div>
     <h6><strong>Your exp:</strong> <%= userExp %></h6>
     <h6><strong>Your level:</strong> <%= userLevel %></h6>
     <h6><strong>Your title:</strong> <%= userTitle %></h6>
     <h6><strong>Your bio:</strong> <%= userBio %></h6>  
     <h6><strong>Your rank:</strong> <%= userRank %></h6>
    </div>
    <% include ./blocks/footer %>