    <%- include('blocks/header', {bot, user, path}) %>
  <div class="container">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col col-10"><h3><%= username %>'s Profile</h3>
          </div>
        </div>
     <h6><strong><%= username %>'s level:</strong> <%= userLevel %></h6>
     <h6><strong><%= username %>'s title:</strong> <%= userTitle %></h6>
     <h6><strong><%= username %>'s bio:</strong> <%= userBio %></h6>
     <h6><strong><%= username %>'s rank:</strong> <%= userRank %></h6>
    </div>
    <% include ./blocks/footer %>